 <header>
      <div>
        <img id="header-logo" src="tumbleFeedLogo.png" alt="">
      </div>
      <div id="header-slogan">
        <span>Turning Feedback Into Action.</span>
      </div>
    </header>

    <section class="top">
      <video autoplay loop poster="placeholderStill.jpg" id="bgvid">
        <source src="dreamstime_57563353.mp4" type="video/mp4">
      </video>
      <div id="video-overlay">
        <div id="video-title">
          <span>Reinventing Teacher Development</span>
        </div>
        <div id="video-subtext">
          Over the past decade, educational reform has focused on "weeding out"
          teachers rather than developing them. We think it's time to turn professional
          development on its head by putting teachers at the center.
        </div>
        <div id="button-wrap">
          <button id="learn-more">Learn More</button>
        </div>
      </div>
    </section>

    <section class="about">
      <div id="about-wrap">
        <div id="quote-content">
          <span>"The single most important factor that influences the degree of
          student learning is the quality of the teacher"</span>
        </div>
        <div id="quote-author">
          <span>- Charlotte Danielson -</span>
        </div>
        <div id="about-content">
          <p>As the field promotes new structures and policies to support student-centered learning,
          we also have to redefine how teachers learn and develop their practice to ensure that
          all kids achieve.</p>
          <p>This involves creating a structured process for looking at teacher practice that makes
          the teacher the primary agent in his or her own learning.  It also requires a new set of
          tools for coaching and collaborating that focuses on providing meaningful feedback,
          self-reflection, and dialogue based on the needs and context of each teacher.  Simply
          watching online videos to hone your craft is a thing of the past.</p>
        </div>
      </div>
    </section>

    <section class="section-three">
      <div id="three-header">
          <span>Our platform enables educators to engage in constructive dialogue about their practice anytime, anywhere</span>
      </div>
      <div id="icon-wrap">
          <div id="icon-one">
              <img src="certificate-2.png" alt="" />
              <p>Formal<br>
                Certification</p>
          </div>
          <div id="icon-two">
              <img src="coachingobservation-2.png" alt="" />
              <p>1:1 Coaching<br>
                Observation</p>
          </div>
          <div id="icon-three">
              <img src="collaboration-2.png" alt="" />
              <p>Collaborative<br>
                PLCs</p>
          </div>
          <div id="icon-four">
              <img src="personalizedlearning-3.png" alt="" />
              <p>Personalized<br>
                Learning</p>
          </div>
      </div>
    </section>

    <section class="section-four">
      <div class="four-layer">
        <div id="four-title">
          <span>How It Works</span>
        </div>
        <div id="four-about">
          We are on a mission to help every teacher turn the corner from "good enough" to excellence.
          And it starts with three simple steps:
        </div>
        <div class="icon-wrap-four">
          <div class="four-icon">
            <img src="observeuploadartifact-4.png" alt="" />
            <p>Observe or upload<br>
            artifacts of teacher<br>
            practice</p>
          </div>
          <div class="four-icon">
            <img src="tagevidencefeedback-3.png" alt="" />
            <p>Tag evidence and provide<br>
            feedback based on<br>
            research</p>
          </div>
          <div class="four-icon">
            <img src="feedbackdialog-3.png" alt="" />
            <p>Use feedback and<br>
            constructive dialogue to<br>
            adjust practice</p>
          </div>
        </div>
        <div id="four-second-about">
          Instead of just filling out forms or putting comments on videos, we enable
          educators to share and get feedback based on research on all types of work.
        </div>
      </div>
    </section>

    <section class="section-five">
      <div id="five-title">
        <span>Get Ready to Tumble</span>
      </div>
      <div id="five-subtitle">
        <span>At TumbleFeed, we are head over heels for teachers!</span>
      </div>
      <div id="five-content">
        <span>In the spring of 2016, we'll be launching our latest platform for states,
        higher ed institutions, and school districts. If you would like to learn more,
        just share your contact information below.</span>
      </div>
      <div class="input-wrap">
        <input type="text" ng-model="name" placeholder="Name" name="name" value=""><br>
        <input type="text" ng-model="organization" placeholder="Organization" name="name"  value=""><br>
        <input type="text" ng-model="email" placeholder="Email" name="name" value=""><br>
      </div>
      <div id="five-button-wrap">
        <button id="learn-more" ng-click="test()">Subscribe</button>
      </div>
    </section>

    <footer>
      <div class="footer-wrap">
        <div id="copyright">
          <span>©Copyright 2015, TumbleFeed</span>
        </div>
        <div id="footer-email">
          <a href="mailto:antonionquijano@gmail.com?Subject=TumbleFeed"><span>GetReady@TumbleFeed.com</span></a>
        </div>
      </div>
    </footer>